<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script type="module" src="./assets/js/main.js" defer></script>
    <title>Dans le ciel</title>
  </head>

  <body>
    <header>
      <h1 class="animate__animated animate__fadeInDown">Dans le ciel...</h1>
    </header>

    <main>
      <div>
        <h2 class="animate__animated animate__fadeInRight">Il y a des avions...</h2>
        <img class="plane" src="./assets/img/vecteezy_airplane_1208502.png" alt="Avion">
      </div>

      <div class="wow fadeInDown div_bird">
        <h2 class="wow animate__animated animate__backInLeft">...Il y a des oiseaux...</h2>
        <img class="wow bird" src="./assets/img/vecteezy_bird_1203707.png" alt="Oiseau">
      </div>

      <div class="div_butterfly">
        <h2 class="wow animate__animated animate__wobble">... Et des papillons!</h2>
        <img class="wow butterfly1" src="./assets/img/vecteezy_butterfly_1198130.png" alt="Papillon">
        <img class="wow butterfly2" src="./assets/img/vecteezy_butterfly_1198130.png" alt="Papillon">
      </div>
      
    </main>

    <footer>
      <p>Clémentine Digout</p>
      <p><time datetime="2024-06-14">Juin 2024</time></p>
      <p>Atelier 10 - PIIA</p>
    </footer>
  </body>
</html>

